<!-- <h1>glowunder</h1> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" />

</head>
<body>
    <button onclick="toggleModal()" type="button">
        Open modal
    </button>
    <div
        class="modal-background"
        onclick="toggleModal()"
        >
    </div>
    <div class="modal">
        <!-- modal content here -->
    </div>
    <script>
        const toggleModal = () = => {
            const { classlist } = document.body;
            if (classList.contains("open") )
                }
    </script>
</body>
</html>