<h1>Layoutidea(d/s)</h1>  
<head>
    <style>
        


        
    .container{
        position: flex;
        flex-wrap: wrap;
        /* display: table-column; */
    }
    .buttons{
        position: flex;
        height: 80px;
        width: 90px;
        background: rgb(17, 17, 161);
        color: white;
        cursor: pointer;
    }
    </style>
</head>

<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="container">
        
        <button class="buttons" type="submit"><a class="buttons" href="/hower">HOWER</a></button>
        
        <button class="buttons" type="submit"><a class="buttons" href="/modalpopup">POPUP MODAL</a></button>
        
        <button class="buttons" type="submit"><a class="buttons"  href="/glowunder">CARD GLOW UNDER</a></button>
        
        <button class="buttons" type="submit"><a class="buttons" href="/modalpopup2">otherpopup</a></button>
        
        <button class="buttons" type="submit"><a class="buttons" href="/altupload">altupload</a></button>
    </div>
</body>
